---
version: "3.7"

volumes:
  data:

# This docker-compose file is used to build and test the container
services:
  weewx:
    # Run the container normally
    build:
      args:
        - VERSION=4.0.0
      context: .
      dockerfile: Dockerfile
    image: felddy/weewx
    init: true
    restart: "no"
    volumes:
      - type: bind
        source: ./data
        target: /data
    environment:
      - TIMEZONE=US/Eastern
      - WEEWX_UID=weewx
      - WEEWX_GID=dialout
    # devices:
    #   - "/dev/ttyUSB0:/dev/ttyUSB0"


  weewx-version:
    # Run the container to collect version information
    image: felddy/weewx
    init: true
    restart: "no"
    command: --version
